.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(122, 239, 181, 0.418);
    border-radius: 2%;
    background-color: rgb(152, 253, 253);
}

form{
    text-align: center;
}

#root{
    margin: 15px 0;
}

.App{
    width: 60%;
    background-color: aqua;
}

.done{
    text-decoration: line-through;
}

.formEdit{
    display: flex;
    justify-content: space-between;
}

.done{
    text-decoration: line-through;
}
.container {
    background-color: rgb(243, 161, 243);
}
.form {
    background-color: rgb(250, 178, 208);
}

.btn-secondary {
    background-color: chartreuse;
}